.custom-select-wrapper {
  position: relative;
  width: 100%;
}

.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: #394a6d;
}
.custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  font-size: 20px;
  font-weight: 300;
  color: #3b3b3b;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
  cursor: pointer;
  border-width: 2px 0 2px 0;
  border-style: solid;
  border-color: #394a6d;
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: 2px solid #394a6d;
  border-top: 0;
  background: #fff;
  transition: all 0.5s;
  z-index: 2;
}
.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 22px 0 22px;
  font-size: 22px;
  font-weight: 300;
  color: #3b3b3b;
  line-height: 60px;
  cursor: pointer;
  width: 100%;
  background-color: inherit;
  outline: none;
  border: none;
  transition: all 0.5s;
}
.custom-option:hover {
  cursor: pointer;
  background-color: #b2b2b2;
}
.custom-option.selected {
  color: #ffffff;
  background-color: #305c91;
}

.arrow {
  position: relative;
  height: 15px;
  width: 15px;
}
.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}
.arrow::before {
  left: -5px;
  transform: rotate(45deg);
  background-color: #394a6d;
}
.arrow::after {
  left: 5px;
  transform: rotate(-45deg);
  background-color: #394a6d;
}
.open .arrow::before {
  left: -5px;
  transform: rotate(-45deg);
}
.open .arrow::after {
  left: 5px;
  transform: rotate(45deg);
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-details {
  padding: 0px 16px;
}

@media only screen and (max-width: 1030px) {
  .custom-select-wrapper {
    width: 70%;
  }
}

@media only screen and (max-width: 850px) {
  .custom-option {
    font-size: 15px;
  }
}

@media only screen and (max-width: 740px) {
  .custom-option {
    font-size: 10px;
  }
  .custom-select-header {
    font-size: 10px;
  }
}

@media only screen and (max-width: 650px) {
  .item-details {
    padding: 0px 4px;
  }
}

@media only screen and (max-width: 570px) {
  .custom-select-header {
    font-size: 8px;
  }

  .custom-option {
    font-size: 8px;
  }
  .item-details {
    padding: 0px 2px;
  }
}

@media only screen and (max-width: 530px) {
  .custom-select-header {
    font-size: 14px;
  }

  .custom-option {
    font-size: 14px;
  }
  .item-details {
    padding: 0px 2px;
  }
}

@media only screen and (max-width: 530px) {
  .right {
    display: none;
  }
}

@media only screen and (max-width: 460px) {
  .custom-select-header {
    font-size: 10px;
    width: 100%;
  }
}

@media only screen and (max-width: 380px) {
  .custom-select-header {
    font-size: 8px;
    width: 100%;
  }
}
